.Setting {
    display: none;
    position: absolute;
    /* transform: translateX(-120%);
    -webkit-transform: translateX(-120%);
    -moz-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    -o-transform: translateX(-120%); */
    width: 100%;
    height: 100%;
    visibility: hidden;
    
}

.container{
    width: 100%;
    height: 100%;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: row;
    height: 30%;
}

.threeline {
    width: 2.5vw;
    height: 2.5vw;
    position: absolute;
    left: 2px;
    top: 1vh;
    background-color: #E7E9EB;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.Tea {
    width: 5.5vw;
    height: 5.5vw;
    position: absolute;
    top: 5vh;
}
.header h3{
    display: block;
    position: absolute;
    top: 15.5vh;
    font-size: 1vw;
}
.container .inputParent{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
}
.container .inputParent input {
    position: absolute;
    width: 75%;
    bottom: 0;
    right: 10px;
    outline: 0.4px solid #598ffa;
    border: 1px solid #c7c9c9;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 10px;
    padding: 8px 3px;
    text-align: center;
  
} 
.container input::placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c7c9c9;
}


.planParent {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
    height: 50%;
    overflow: auto;
}

.container .inputParent button {
    position: absolute;
    bottom: 11px;
    left: 0.65rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 8px 7px;
}
.Setting , .header , .inputParent , .planParent {
    transition: all 0.5 ease-in-out;
    -webkit-transition: all 0.5 ease-in-out;
    -moz-transition: all 0.5 ease-in-out;
    -ms-transition: all 0.5 ease-in-out;
    -o-transition: all 0.5 ease-in-out;
}




/* ------------------- responsive --------------------- */

@media only screen and (max-width: 768px) {
    .threeline {
        width: 15vw;
        height: 15vw;
    }
    .Tea {
        width: 30vw;
        height: 30vw;
        top: 10vh;
    }
    .header h3{
       
        top: 24.5vh;
        font-size: 6vw;
    }
    .container .inputParent input {
        box-sizing: border-box;
        padding: 1.5rem;
        width: 75%;
        font-size: 1.2rem;
    }
    .container .inputParent input::placeholder{
        font-size: 1.5rem;
    }
    .container .inputParent button {
        padding: 1.4rem 0.8rem;
        box-sizing: border-box;
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 768px) {
    .threeline {
        width: 10vw;
        height: 10vw;
    }
    .Tea {
        width: 20vw;
        height: 20vw;
        top: 10vh;
    }
    .header h3{
       
        top: 23.5vh;
        font-size: 4vw;
    }
    .container .inputParent input {
        box-sizing: border-box;
        padding: 2rem;
        width: 75%;
        font-size: 1.2rem;
    }
    .container .inputParent input::placeholder{
        font-size: 1.5rem;
    }
    .container .inputParent button {
        padding: 1.9rem 1.9rem;
        box-sizing: border-box;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1024px) {
    .threeline {
        width: 8vw;
        height: 8vw;
    }
    .Tea {
        width: 15vw;
        height: 15vw;
        top: 10vh;
    }
    .header h3{
       
        top: 22.5vh;
        font-size: 3vw;
    }
    .container .inputParent input {
        box-sizing: border-box;
        padding: 1.3rem;
        width: 75%;
        font-size: 1.8rem;
    }
    .container .inputParent input::placeholder{
        font-size: 1.5rem;
    }
    .container .inputParent button {
        padding: 1.5rem 1.9rem;
        box-sizing: border-box;
        font-size: 1.7rem;
    }
}

@media only screen and (min-width: 1250px) {
    .threeline {
        width: 5vw;
        height: 5vw;
    }
    .Tea {
        width: 11vw;
        height: 11vw;
        top: 10vh;
    }
    .header h3{
       
        top: 22.5vh;
        font-size: 2.5vw;
    }
    .container .inputParent input {
        box-sizing: border-box;
        padding: 1rem;
        width: 75%;
        font-size: 1.8rem;
    }
    .container .inputParent input::placeholder{
        font-size: 1.5rem;
    }
    .container .inputParent button {
        padding: 1.2rem 1.9rem;
        box-sizing: border-box;
        font-size: 1.7rem;
    }
}