.plan {
    display: flex;
    justify-content: space-between;
    direction: rtl;
    background-color: #e2e4e4;
    color: #000000;
    padding: 4px 4px;
    margin: 0;
    box-sizing: border-box;
    margin: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    word-wrap: break-word;

}
.text {
    margin: 0;
    word-wrap: break-word;

}
.plan div {
    align-items: center;
}
.plan div  .Trash , .plan div  .Edit{
    width: 1.2rem;
    height: 1.2rem;
}
.plan div  .Trash {
    width: 1.3rem;
    height: 1.3rem;   
}


/*  -------- responsive ----------------- */
@media only screen and (max-width: 768px) {
    .plan .text {
        font-size: 1rem;
    }
    .plan div  .Edit{
        width: 1.1rem;
        height: 1.1rem;
    }
    .plan div  .Trash {
        width: 1.1rem;
        height: 1.1rem; 
    }
    

}
@media only screen and (min-width: 768px) {
    .plan .text {
        font-size: 1.1rem;
        margin: 10px 10px ;
    }
    .plan div  .Edit{
        width: 1.4rem;
        height: 1.4rem;
    }
    .plan div  .Trash {
        width: 1.4rem;
        height: 1.4rem; 
    }
    
}
@media only screen and (min-width: 1024px) {
    .plan .text {
        font-size: 1.2rem;
        margin: 10px 10px ;
    }
    .plan div {
        display: flex;
        
    }
    .plan div  .Edit{
        width: 1.5rem;
        height: 1.5rem;
    }
    .plan div  .Trash {
        width: 1.6rem;
        height: 1.6rem; 
    }
    
}

@media only screen and (min-width: 1250px) {
    .plan .text {
        font-size: 1rem;
        margin: 10px 10px ;
    }
    .plan div {
        display: flex;
        align-items: center;
    }
    .plan div  .Edit{
        width: 1.3rem;
        height: 1.3rem;
    }
    .plan div  .Trash {
        width: 1.3rem;
        height: 1.3rem; 
    }
    
}

