/* toggle input style  */
.set input {
    position: relative;
    width: 30px;
    height: 15px;
    -webkit-appearance: none;
    appearance: none;
    background: rgba(0, 0, 0, 0.5);
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
  }
  
  .set input::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
  }
  
  .set input:checked::before {
    transform: translateX(100%);
    background: #fff;
  }
  
  .set input:checked {
    background: #00ed64;
  }
  /* body  */

.container {
    padding: 0 10px;
    box-sizing: border-box;
    height: 90%;
    width: 100%;
}

.set {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #808080;
    padding: 4px 10px;
    box-sizing: border-box;
}
.Situation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.Situation h3 {
    color: #696969;
}
.Situation .countparent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    

}
.set p {
    color: #808080;
}
.Situation div div {
    background-color: #c0c0c0;
    width: 70px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.Situation div div .count{
    font-size: 0.6rem;

}
.Situation div div .Statistics {
    font-size: 1rem;
}

.container img {
    width: 18px;
    height: 18px;
    margin-top: 10px;
}